#luxe {
    display: contents;
}
#gaming {
    display: none;
}

#primair {
    display: none;
}

#container {
    background-color: moccasin;
    color: crimson;
}
#image {
    background-image: url(../afbeeldingen/luxe.jpg)
}
a {
    color: white;
    background-color: saddlebrown;
}
h2 {
    font-family: 'Lobster', cursive;
}